.footer_decor
  %footer
  .footer_gradient
.tw-box
  .tw-icon
  .tw-textbox
    %p.tw-text
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text  of the printing and typesetting industry.
    %span.tw-auther - versions of Lorem Ipsum.
.news
  %h4.footer-heading
  %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
  %form
    %input 
    %buttom.Subscribe Subscribe
.contact-form
  %form
    .input-groupe
      %input
      %input
      %input
    %input.textfield
    %buttom.Submite
.sm-icons
  %a.sm-tw{:href => "//twitter.com"}
  %a.sm-fb{:href => "//facebook.com"}
  %a.sm-in{:href => "//linkdin.com"}






