---
title: Apps
body_class: boxes apps
---

.containre
  .containre-head
    .containre-head-titles
      %h1 Dublin’s iphone applications
      %h4 Lorem Ipsum is simply dummy
    .containre-head-search 
      %input{:type => 'text', :placeholder => 'Searche...'}
  .containre-tail
    .pads
      .pad
        %img{:src => 'images/padpic.png'}
        %h2 ipad image viewer
        %h4 Lorem Ipsum is simply 
        %button.blue Read More
      .pad
        %img{:src => 'images/padpic.png'}
        %h2 ipad image viewer
        %h4 Lorem Ipsum is simply 
        %button.blue Read More
      .pad
        %img{:src => 'images/padpic.png'}
        %h2 ipad image viewer
        %h4 Lorem Ipsum is simply 
        %button.blue Read More
    .tabs
      .tab.active Most Popular
      .tab Recent
    .iphones
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More
      .iphone
        %img{:src => 'images/iphone-app.png'}
        .iphone-text
          %h3 iPhone Apps
          %p Lorem Ipsum is simply 
          %button Read More