---
title: Apps
body_class: boxes apps
---

.containre
  .containre-head
    .containre-head-titles
      %h1 Dublin’s iphone applications
      %h4 Lorem Ipsum is simply dummy
    .containre-head-search 
      %input{:type => 'text', :placeholder => 'Searche...'}
  .containre-tail