---
title: Demons
body_class: boxes Demo
---

.containre
  .containre-head
    .containre-head-titles
      %h1 Dublin’s iphone applications
      %h4 Lorem Ipsum is simply dummy
    .containre-head-search 
      %input{:type => 'text', :placeholder => 'Searche...'}
  .containre-tail
    .var.demo
      .var-titles
        %h2 There are many variations of passages
        %h4 Lorem Ipsum is simply dummy
      .var-img
        %img{:src => 'images/var.png'}
      .var-list.demo
        %ul
          %li Lorem Ipsum is simply dummy text of the printing and typesetting 
          %li Industry. Lorem Ipsum has been the industry's standard 
          %li Dummy text ever since the 1500s, when an unknown printer 
          %li Took a galley of type and scrambled it to make a type specimen book. 
          %li It has survived not only five centuries, but also the 