---
title: Dublin's ipad apps
body_class: index
---
.wraper
  .section.fs-gallery
    .head_button
      %h1 
        %span.funk Dublin's 
        %br
        %span.alex ipad 
        %span.alex_bold app
      %p free and paid apps for your ipad
      .btn Read More
    .ipad_img
  .section.boxes
    .box
      .box-inner
      .images.one
      %h4 E Book Reader pro
    .box
      .box-inner
      .images.two
      %h4 Image viewer pro
    .box
      .box-inner
      .images.three
      %h4 Media mannager
    .box.end
      .new
      .box-inner
      .images.four
      %h4 Leo Entertainment 
  .section.Apps
    .app
    .app
    .app
  .section.qouts
    .qouts-gallary
  .section.varioties
  .section.features
    .feature
    .feature
    .feature
    .feature
    .feature