---
title: Dublin's ipad apps
body_class: index
---
/ ver 0.3 
.wraper
  .section.fs-gallery
    .fs-text
      %h1 
        %span.chankf Dublin's<br>
        %span.alex iPad
        %span.alex.bold Apps
      %p 
        Free and paid apps<br>for your iPad
      %button Read More
      .box-shadow
    .fs-img
      %img{:src => 'images/ipad_standig.png'}
  .section.boxes
    .box
      .box-inner
      .images.one
      %h4 E Book Reader pro
    .box
      .box-inner
      .images.two
      %h4 Image viewer pro
    .box
      .box-inner
      .images.three
      %h4 Media mannager
    .box.end
      .box-inner
      .images.four
      %h4 Leo Entertainment 
  .section.Apps
    .app
    .app
    .app
  .section.qouts
    .qouts-gallary
  .section.varioties
  .section.features
    .feature
    .feature
    .feature
    .feature
    .feature